@font-face {
  font-family: ProximaNova;
  src: url(./fonts/Proxima\ Nova\ Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: ProximaNova;
  src: url(./fonts/Proxima\ Nova\ Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: SourceSansPro;
  src: url(./fonts/SourceSansPro-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: SourceSansPro;
  src: url(./fonts/SourceSansPro-Bold.ttf);
  font-weight: bold;
}

body {
  margin: 0;
  font-family: "SourceSansPro", serif;
}

header {
  background: url("./images/hero/bg.png") bottom center no-repeat;
  background-size: cover;
  height: 750px;
  /* width: 100%; */
}

header > div {
  width: 1078px;
}

/* common */
.red-color {
  color: #bf0a30;
}

#topbar {
  margin-right: 40px;
  margin-left: 235px;
}

.font-proxima {
  font-family: "ProximaNova";
}

#paf-logo {
  top: 100%;
  left: 235px;
}

.text-blue {
  color: #002868;
}

.hover\:text-red:hover {
  color: #bf0a30;
}

#featured {
  background: url(./images/circle.png) 0 0 no-repeat;
  background-size: 100% 100%;
  width: 350px;
  height: 350px;
  margin-top: 40px;
  border-width: 6px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
}

/* CENSUS */

#census {
  background: url("./images/bg-census.png") bottom center no-repeat;
  background-size: cover;
  height: 744px;
}

#census > h2 {
  color: #bf0a30;
  line-height: 50px;
}

#census-left {
  margin-right: 60px;
  max-width: 464px;
}

#census-left > h2 {
  margin-bottom: 10px;
}

#census-left > h3 {
  margin-top: 10px;
  margin-bottom: 15px;
}

#census-right {
  max-width: 475px;
}

#census-right > ul {
  list-style-image: url("./images/icons/blue-caret.svg");
}

#census-right > ul > li + li {
  margin-top: 10px;
}

#census-right > ul > li:nth-child(3) {
  margin-top: 5px;
}
#census-right > ul > li:nth-child(4) {
  margin-top: 0;
}

#census > section h2 {
  font-size: 18px;
}

#census-info > h3 {
  color: #bf0a30;
  font-size: 18px;
}

#census-date {
  font-size: 34px;
  margin-top: 5px;
}

/* ACTIONS */
#actions {
  background-color: #002868;
}

#actions > ul > li {
  width: 300px;
}

#actions > ul > li + li {
  margin-left: 20px;
}

/*  fullscreen */

@media (min-width: 768px) {
  nav > ul {
    padding-left: 283px;
    padding-right: 40px;
  }

  #logo {
    transform: translateY(-50%);
    border: 10px #ab0427 solid;
  }
  #main-nav {
    height: 60px;
  }
  #featured {
    width: 502px;
    height: 502px;
    margin-top: 70px;
  }
}
